---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Volunteering from '../components/Volunteering.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Software Engineer Portfolio">
	<Navigation />
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Volunteering />
		<Contact />
	</main>
</Layout>
